.profileContainer {
  margin: auto;
  margin-top: 1rem;
  background-color: #1f2a48;
  outline: none;
  border-style: none;
  border-radius: 0.5rem;
  /*width: 25vw;*/
  width: 40rem;
  padding: 2rem;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
